.ck-content section {
  margin-bottom: 1.5rem;
  border-top: 5px dotted #ccc;
  border-bottom: 5px dotted #ccc;
}

.ck-content section::before {
  position: relative;
  z-index: 1;
  display: block;
  width: 5rem;
  margin-top: -0.75em;
  margin-right: auto;
  content: "section";
  text-align: center;
  background: lightgray;
  font-size: 0.75em;
  font-variant: small-caps;
  line-height: 1em;
}
